@model Models.ViewModels.UserProfileViewModel;

<div class="content-container profile">
    <div class="header-contacts">
        <h1>Profile</h1> 
    </div>

    <div id="tabstrip" class="profile-tabstrip" >
      <ul>
        <li><span class="k-icon k-i-user"></span>Personal details</li>
        <li><span class="k-icon k-i-lock"></span>Password</li>
        <li><span class="k-icon k-i-book"></span>Shipping Address</li>
      </ul>
      <div>
        <form id="personalDetailsForm" method="post" action="@Url.Action("SaveUserPersonalDetails", "Account")"></form>
      </div>
      <div>
        <form id="passwordForm" method="post" action="@Url.Action("SaveUserPassword", "Account")"></form>
      </div>
      <div>
        <form id="shippingAddressForm" method="post" action="@Url.Action("SaveUserShippingDetails", "Account")"></form>
      </div>
    </div>
</div>    


 <script>
     $(document).ready(function(e) {
         var tabStrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
         tabStrip.select(0);

      $("#personalDetailsForm").kendoForm({
        grid: {
          cols: 2
        },
        layout:"grid",
        formData: {
          ID: 1,
          FirstName: '@Model.FirstName',
          LastName: '@Model.LastName',
          Phone: '@Model.Phone'
        },
        items: [
          {
            field: "FirstName",
            label: "First Name:",
            colSpan: 1,
            validation: { required: true }
          }, 
          {
            field: "LastName",
            label: "Last Name:",
            colSpan: 1,
            validation: { required: true }
          },
          {
            field: "Phone",
            label: "Phone:",
            colSpan: 4,
            editor: "MaskedTextBox",
            editorOptions: {
                mask: "(000) 000-0000"
            }
          }
        ],
        messages: {
          submit: "Save",
          clear: "Cancel"
        }
      });

      $("#passwordForm").kendoForm({    
        validateOnBlur: true,
        validationSummary: true,
        errorTemplate: "<span class='k-form-error'>#:message#</span>",
        formData: {
          ID: 1,
          Password: "",
          ConfirmPassword: ""
        },
        items: [
          {
            field: "Password",
            label: "Change Password:",
            validation: { required: true },
            hint: "Must contain a inimum of 8 characters included with at least 1 upper case letter, 1 number, and 1 special character",
            editor: function (container, options) {
              $('<input type="password" id="password" name="' + options.field + '" title="password" required="required" autocomplete="off" aria-labelledby="password-form-label" data-bind="value: password" aria-describedby="password-form-hint"/>')
                .appendTo(container)
                .kendoTextBox();
            }
          },
          {
            field: "ConfirmPassword",
            label: "Confirm Password:",
            validation: { required: true },           
            editor: function (container, options) {
              $('<input type="password" id="confirmPassword" name="' + options.field + '" title="confirmPassword" required="required" autocomplete="off" aria-labelledby="confirmPassword-form-label" data-bind="value: confirmPassword" aria-describedby="confirmPassword-form-hint"/>')
                .appendTo(container)
                .kendoTextBox();
            }
          }
        ],
        messages: {
          submit: "Save",
          clear: "Cancel"
        }
      });

      $("#shippingAddressForm").kendoForm({
        grid: {
          cols: 2, gutter: 20
        },
        layout:"grid",
        formData: {          
          Street: '@Model.Street',
          City: '@Model.City',
          State: '@Model.State',
          Zipcode: '@Model.Zipcode',
          Country: '@Model.Country',
        },
        items: [
          {
            field: "Street",
            label: "Street:",
            colSpan: 2,
            validation: { required: true }
          }, 
          {
            field: "City",
            label: "City:",
            colSpan: 2
          }, 
          {
            field: "State",
            label: "State:",
            colSpan: 1,
            editor: "DropDownList",
            editorOptions: {
                placeholder: "Select State",
                dataTextField: "Name",
                dataValueField: "StateProvinceCode",
                filter: "contains",
                dataSource: {                   
                    transport: {
                        read: {
                            url: "/Account/States",
                        }
                    }
                }
            }
          },
          {
            field: "Zipcode",
            label: "Zip:",
            colSpan: 1
          },
          {
            field: "Country",
            label: "Country:",
            colSpan: 2,
            editor: "DropDownList",
            editorOptions: {
                placeholder: "Select Country",
                filter: "contains",
                dataTextField: "text",
                dataValueField: "value",
                dataSource:[
                   { text: "Germany", value: "DE"},
                   { text: "France", value: "FR"},
                   { text: "United Kingdom", value: "UK"},
                   { text: "USA", value: "US"}                
                ],
                change: changeUserCountry
            }
          }, 
        ],
        messages: {
          submit: "Save",
          clear: "Cancel"
        }
      });

       $("#passwordForm").kendoValidator({
            rules: {
                confirmPassCheck: function (input) {                   
                    if (input.is("[name=ConfirmPassword]") && input.val()) {
                        let enteredPass = $("#password").data("kendoTextBox");
                        let confirmedPass = $("#confirmPassword").data("kendoTextBox");                        
                        if(enteredPass.value() != confirmedPass.value()) {
                            input.attr("data-confirmPassCheck-msg", "Passwords do not match.");
                            return false;
                        }
                        return true;
                    }
                    return true;
                },
                passCheck: function (input) {
                    if (input.is("[name=Password]") && input.val()) {
                        let enteredPass = $("#password").data("kendoTextBox");
                        if(enteredPass.value().length < 4  || enteredPass.value().length > 24) {
                            input.attr("data-passCheck-msg", "Enter a valid password between 4 and 24 characters.");
                            return false;
                        }
                        return true;
                    }
                    return true;
                }
            }
        });



       $("#shippingAddressForm").kendoValidator({
            rules: {
                stateCheck: function (input) {
                    if (input.is("[name=State]")) {
                        let selectedState = $("#State").data("kendoDropDownList");
                        let selectedCountry = $("#Country").data("kendoDropDownList");
                        if(selectedCountry.value() == "US" && !selectedState.value()) {
                            input.attr("data-stateCheck-msg", "Invalid State.");
                            return false;
                        }
                        return true;
                    }
                    return true;
                }
            }
        });
    })
    </script>

    <link rel="stylesheet" href="/css/profile.css">