@{
	ViewData["Title"] = ViewBag.SubCategory;
}

<div class="category-page-container">
	<nav id="breadcrumb" name="breadcrumb"></nav>	    

	<div class="category-content-container">
		@await Html.PartialAsync("_MainControls.cshtml")	
		<div>
			@await Html.PartialAsync("_ListViewHeader.cshtml", (string)ViewBag.SubCategory)
			<div id="allProductsListView" name="allProductsListView"></div>
		</div>		
	</div>
</div>

<script type="text/html" id="product-template">	
	@await Html.PartialAsync("_TileProductCard.cshtml")	
</script>

<script type="text/html" id="product-template-list">	
	@await Html.PartialAsync("_TileProductCardList.cshtml")	
</script>

<span hidden id="subCategory">@ViewBag.SubCategory</span>

<script>
	$(document).ready(function () {
		var searchParam = '@ViewBag.SearchParam';
		if (searchParam != null) {
			$("#searchBar").data("kendoAutoComplete").value(searchParam);
		}		

		$.get("/Products/GetAllModelsInSubCategory?subCategory=@ViewBag.SubCategory", function (data) {
			if (data.length == 0) {
				$("#modelPicker").parent().hide();
			}
			else {
				$("#modelPicker").kendoCheckBoxGroup({
					items: data,
					change: function (e) { filterDataSource(); }
				});
			}
		});

		$.get("/Products/GetAllSizesInSubCategory?subCategory=@ViewBag.SubCategory", function (data) {
			if(data.length == 0) {
				$("#sizePicker").parent().hide();
			}
			else {
				$("#sizePicker").kendoCheckBoxGroup({
					items: data,
					change: function (e) { filterDataSource(); }
				});
			}			
		});

		$.get("/Products/GetAllColorsInSubCategory?subCategory=@ViewBag.SubCategory", function (data) {
			if (data.length == 0) {
				$("#colorPicker").parent().hide();
			}
			else {
				$("#colorPicker").kendoCheckBoxGroup({
					items: data,
					change: function (e) { filterDataSource(); }
				});
			}			
		});

		$("#breadcrumb").kendoBreadcrumb({
			"items": [{
			    "href": "/Home/Index",
			    "icon": "home",
			    "showIcon": true,
			    "showText": false,
			    "type": "rootItem"
			}, {
			    "href": "/Home/@ViewBag.Category",
			    "text": "@ViewBag.Category",
			    "showText": true,
			    "type": "item"
			}, {
			    "href": "/Products/Category?subCategory=@ViewBag.SubCategory",
			    "text": "@ViewBag.SubCategory",
			    "showText": true,
			    "type": "item"
			}],
        "navigational": true
		});

		var dataSourceProducts = new kendo.data.DataSource({
		transport: {
              read: {
                  url: "/Products/ReadAllProducts",
                  dataType: "json"
              }
          },
          pageSize: 12,		  
		  "filter": [{
               "logic": "and",
               "filters": [{
                   "field": "SubCategory",
                   "operator": "eq",
                   "value": "@ViewBag.SubCategory"
               }]
           }],
		});	
					
		$("#allProductsListView").kendoListView({
			"tagName": "div",				
			"dataSource": dataSourceProducts,			
			"template": kendo.template($('#product-template').html()),
			dataBound: onCategoryDataBound,
			pageable: true,
			layout: "grid",
            grid: {
                rows: 4,
                cols: 3
            }
		});		

		 $('.toggle-view').kendoButtonGroup({
            items: [
                { icon: 'group' },
                { icon: 'list-bulleted' }
            ],
        });

		 let toggleButton = $('.toggle-view').kendoButtonGroup().data("kendoButtonGroup");
        
        toggleButton.select(0);
        
        toggleButton.bind("select", function(e) {
            let index = this.current().index();

            if(index === 0){
                let productsListView = $("#allProductsListView").data("kendoListView");

                productsListView.setOptions({
                    dataSource: {
                        pageSize: 12
                    },
                    template: kendo.template($("#product-template").html()),
                    layout: "grid",
                    grid: {
                        rows: 4,
                        cols: 3
                    },
                });

                productsListView.dataSource.pageSize(12);
            }
            else{
                let productsListView = $("#allProductsListView").data("kendoListView");			
                productsListView.setOptions({
                    template: kendo.template($("#product-template-list").html()),
                    layout: "grid",
					dataSource: {
                        pageSize: 10
                    },
                    grid: {
                        rows: 5,
                        cols: 1
                    }
                });
                productsListView.dataSource.pageSize(5);
            }
        });
});
</script>


<link rel="stylesheet" href="~/css/category.css">
<link rel="stylesheet" href="~/css/all_products_list_view.css">