@{
	ViewData["Title"] = "Components";
}

<div class="sub-category-container wrap-width">
	<nav id="breadcrumb" name="breadcrumb"></nav>
	<div class="category-heading-large">Components</div>
	<div class="sub-category-images components-container wrap-width">
		<div>
			<a href="@Url.Action("Category", "Products")?subCategory=Chains">
				<div class="category-heading">Chains</div>
				<img src="~/images/chains.png" class="category-image category-large-image" />
			</a>
		</div>
		<div class="inner-1">
			<div class="inner-2">
				<div>
					<a href="@Url.Action("Category", "Products")?subCategory=Derailleurs">
						<div class="category-heading">Derailleurs</div>
						<img src="~/images/derailleurs.png" class="category-image category-small-image" />
					</a>
				</div>
				<div>
					<a href="@Url.Action("Category", "Products")?subCategory=Forks">
						<div class="category-heading">Forks</div>
						<img src="~/images/forks.png" class="category-image category-small-image" />
					</a>
				</div>
			</div>
			<div>
				<a href="@Url.Action("Category", "Products")?subCategory=Mountain Frames">
					<div class="category-heading heading-double">Mountain Frames</div>
					<img src="~/images/mountain_frames.png" class="category-image category-small-image-double" />
				</a>
			</div>
		</div>
		<div>
			<a href="@Url.Action("Category", "Products")?subCategory=Handlebars">
				<div class="category-heading">Handlebars</div>
				<img src="~/images/handlebars.png" class="category-image category-large-image" />
			</a>
		</div>
	</div>

	<div class="sub-category-images-bottom wrap-width">
		<div class="edge-image-container">
			<a href="@Url.Action("Category", "Products")?subCategory=Pedals">
				<div class="category-heading">Pedals</div>
				<img src="~/images/pedals.png" class="category-image category-small-image" />
			</a>
		</div>
		<div>
			<a href="@Url.Action("Category", "Products")?subCategory=Saddles">
				<div class="category-heading">Saddles</div>
				<img src="~/images/saddles.png" class="category-image category-image-double" />
			</a>
		</div>
		<div>
			<a href="@Url.Action("Category", "Products")?subCategory=Touring Frames">
				<div class="category-heading">Touring Frames</div>
				<img src="~/images/touring_frames.png" class="category-image category-image-double" />
			</a>
		</div>
		<div class="edge-image-container">
			<a href="@Url.Action("Category", "Products")?subCategory=Wheels">
				<div class="category-heading">Wheels</div>
				<img src="~/images/wheels.png" class="category-image category-small-image" />
			</a>
		</div>
	</div>
</div>

<script>
	 $("#breadcrumb").kendoBreadcrumb({
        "items": [{
            "href": "Index",
            "icon": "home",
            "showIcon": true,
            "showText": false,
            "type": "rootItem"
        }, {
            "href": "Components",
            "text": "Components",
            "showText": true,
            "type": "item"
        }],
        "navigational": true
    });
</script>
